.w90 {
    width: 90%;
}

.w40 {
    width: 30%;
}

.h70vh {
    height: 80vh;
}

.h80 {
    height: 80%;
}

.minmaxhght {
    min-height: 100vh;
    max-height: fit-content;
}


.blog-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /* Always 2 rows */
    grid-auto-flow: column;
    /* Fill columns instead of rows */
    grid-auto-columns: 550px;
    /* Width of each card */
    gap: 1rem;

    overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;


    overflow-x: auto;
    overflow-y: hidden;

    /* Hide scrollbar - Chrome, Safari */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */


}

.blog-container>* {
    scroll-snap-align: start;
}


#blog {
    border: 1px solid transparent;
    border-radius: 25px;
    /* background-color: bisque; */
    padding: 0 1rem;
}

#blog h2 {
    font-size: 2rem;
}

#blog p {
    font-size: 1rem;
    text-align: justify;
}

.blog {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.h40 {
    height: 45%;
}